<h2 mat-dialog-title>Información de <u>{{data.nombres}}</u></h2>
<div mat-dialog-content>
  <p>Información sobre el usuario</p>
  <div>
    <ul>
        <li>
          <span> ID: {{ data.idusuario }}</span>
        </li>
        <li>
          <span> Nombres: {{ data.nombres }}</span>
        </li>
        <li>
          <span> Apellidos: {{ data.apellidos }}</span>
        </li>
      </ul>
  </div>
    </div>
<!-- <div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No</button>
  <button mat-button [mat-dialog-close]="data.id" cdkFocusInitial>Yes</button>
</div> -->