<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button (click)="home()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div style="float: right;">
      <ion-img end id="logoFNJ" src="./assets/imagenesFundacion/fnjLogo.jpg"></ion-img>
    </div>
    <ion-title>Formulario de Ingreso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="registroForm">
    <div class="col-md-4" *ngFor="let s of nuevoInforme.nuevoUsuario; let i=index">
      <form>
        <ion-card class="formularioRegistro">
          <ion-card-content>
            <ion-grid>
              <h1><b><u>Datos Generales</u></b></h1>
              <ion-row>
                <ion-col>
                  <div class="form-group">
                    <ion-label>Fecha de Ingreso al Albergue:</ion-label>
                    <ion-datetime id="clave" name="fechaIngresoFundacion" [value]="s.fechaIngresoFundacion"
                      display-timezone="utc" (ionChange)="selectFechaIngresoFundacion($event.target.value, i)"
                      placeholder="Selecciona la fecha"></ion-datetime>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="form-group">
                    <ion-label>Nombres:</ion-label>
                    <ion-input [readonly]="editando" [(ngModel)]="s.nombres" (ngModelChange)="capitalize($event)"
                      name="nombres" id="clave" placeholder="Nombres completos" type="text" required>
                    </ion-input>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="form-group">
                    <ion-label>Apellidos:</ion-label>
                    <ion-input [readonly]="editando" [(ngModel)]="s.apellidos" name="apellidos" id="clave"
                      placeholder="Apellidos completos" type="text" required>
                    </ion-input>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div class="form-group">

                    <ion-label>Teléfono:</ion-label>
                    <ion-input [(ngModel)]="s.telefono" name="telefono" id="clave" placeholder="Teléfono del albergado"
                      type="number" required>
                    </ion-input>

                    <ion-label>Teléfono Contacto:</ion-label>
                    <ion-input [(ngModel)]="s.telefonoContacto" name="telefonoContacto" id="clave"
                      placeholder="Teléfono de contacto" type="number" required>
                    </ion-input>
                    <br>
                    <ion-item style="height: 40px;">
                      <ion-label style="margin-top: 0px;">Género:</ion-label>
                      <ion-select [(ngModel)]="s.idgenero" name="genero">
                        <ion-select-option value="1">Masculino</ion-select-option>
                        <ion-select-option value="2">Femenino</ion-select-option>
                        <ion-select-option value="3">Lgbti</ion-select-option>
                      </ion-select>
                    </ion-item>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="form-group">
                    <ion-label>Documento de Identidad:</ion-label><br>
                    <ion-text *ngIf="existeActivo" style="color: red;">Albergado consta en el sistema</ion-text>
                    <ion-text *ngIf="existePasivo" style="color: red;">Albergado consta en el sistema
                      <ion-button fill="clear" (click)="activarPasivo(s.identificacion)"><a>Activar?</a></ion-button>
                    </ion-text>
                    <ion-input [readonly]="editando" [(ngModel)]="s.identificacion"
                      (ionChange)="comprobarCedulaExistente($event)" name="identificacion" id="clave"
                      placeholder="Número de Identificación" required>
                    </ion-input>
                    <ion-radio-group name="tipoDocumento" [(ngModel)]="s.tipoIdentificacion" value="genero">
                      <ion-row>
                        <ion-col size="3">
                          <ion-item matTooltip="Cédula" matTooltipPosition="below">
                            <ion-label style="font-size: 12px;">Cédula</ion-label>
                            <ion-radio value="0"></ion-radio>
                          </ion-item>
                        </ion-col>
                        <ion-col size="4">
                          <ion-item matTooltip="Pasaporte" matTooltipPosition="below">
                            <ion-label style="font-size: 12px;">Pasaporte</ion-label>
                            <ion-radio slot="end" value="1"></ion-radio>
                          </ion-item>
                        </ion-col>
                        <ion-col size="5">
                          <ion-item matTooltip="Carta Andina" matTooltipPosition="below">
                            <ion-label style="font-size: 12px;">Carta Andina</ion-label>
                            <ion-radio slot="end" value="2"></ion-radio>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                    </ion-radio-group>
                  </div>
                  <div *ngIf="count>0" class="form-group">
                    <ion-label>Parentesco Familiar:</ion-label>
                    <ng-autocomplete [data]="listaParentescos" [searchKeyword]="keywordParentesco"
                      (selected)='selectParentesco($event,i)' [itemTemplate]="itemTemplate">
                    </ng-autocomplete>
                    <ng-template #itemTemplate let-item>
                      <a [innerHTML]="item.parentesco"></a>
                    </ng-template>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="form-group" [hidden]="esRefugiado">
                    <ion-label>Fotografía:</ion-label>
                    <ion-row>
                      <img src="{{s.foto}}" id="profilePic" />
                      <ion-input target="_blank" id="clave" [(ngModel)]="s.foto" name="foto" accept="image/*"
                        (change)="previsualizarFoto($event,i)" type="file" required>
                      </ion-input>
                    </ion-row>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div class="form-group">
                    <ion-label>Nivel de Instrucción:</ion-label>
                    <ion-input [(ngModel)]="s.nivelInstruccion" name="instruccion" id="clave"
                      placeholder="Describa su nivel de instrucción" type="text" required>
                    </ion-input>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="form-group">
                    <ion-label>Oficio:</ion-label>
                    <ion-input [(ngModel)]="s.oficio" name="oficio" id="clave" placeholder="Describa su oficio"
                      type="text" required>
                    </ion-input>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="form-group">
                    <ion-label>Habilidades:</ion-label>
                    <ion-input [(ngModel)]="s.habilidades" name="habilidades" id="clave"
                      placeholder="Describa sus habilidades" type="text" required>
                    </ion-input>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div class="form-group">
                    <ion-label>Profesión:</ion-label>
                    <ion-input [(ngModel)]="s.profesion" name="profesion" id="clave" placeholder="Describa su profesión"
                      type="text" required>
                    </ion-input>
                  </div>
                </ion-col>
                <ion-col>
                  <ion-label>Nacionalidad:</ion-label>
                  <ng-autocomplete [data]="listaNacionalidades" [searchKeyword]="keywordNacionalidad"
                    (selected)='selectNacionalidad($event,i)' #nacionalidad [itemTemplate]="itemTemplate1">
                  </ng-autocomplete>
                  <ng-template #itemTemplate1 let-item>
                    <a [innerHTML]="item.gentilicio"></a>
                  </ng-template>
                </ion-col>
                <ion-col>
                  <ion-label>Ciudad:</ion-label>
                  <ng-autocomplete [data]="listaCiudades" [searchKeyword]="keywordCiudad" #ciudad
                    (selected)='selectCiudad($event,i)' (change)="agregarNuevaCiudad($event, i)"
                    [itemTemplate]="itemTemplate2">
                  </ng-autocomplete>
                  <ng-template #itemTemplate2 let-item>
                    <a [innerHTML]="item.ciudad"></a>
                  </ng-template>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div class="form-group">
                    <ion-label>Estado/Provincia:</ion-label>
                    <ion-input [(ngModel)]="s.provincia" name="provincia" id="clave"
                      placeholder="Provincia en donde reside anteriormente" type="text" required>
                    </ion-input>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="form-group">
                    <ion-label>Fecha de Nacimiento</ion-label>
                    <ion-datetime id="clave" name="fechaNacimiento" [value]="s.fechaNacimiento" display-timezone="utc"
                      (ionChange)="selectFechaNacimiento($event.target.value, i)" placeholder="Selecciona la fecha">
                    </ion-datetime>
                  </div>
                </ion-col>
                <ion-col>
                  <div *ngIf="s.edad" style="margin-top: 10px;" class="form-group">
                    <h4><b>{{ s.nombres }} {{ s.apellidos }} tiene <u>{{ s.edad }}</u> años</b></h4>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-label>Último País de Residencia:</ion-label>
                  <ng-autocomplete [data]="listaPaises" [searchKeyword]="keywordPais" (selected)='selectPais($event,i)'
                    #pais [historyListMaxNumber]="2" [itemTemplate]="itemTemplate3">
                  </ng-autocomplete>
                  <ng-template #itemTemplate3 let-item>
                    <a [innerHTML]="item.pais"></a>
                  </ng-template>
                </ion-col>
                <ion-col>
                  <div class="form-group">
                    <ion-label>Fecha de Ingreso al Ecuador:</ion-label>
                    <ion-datetime id="clave" name="fechaIngresoFundacion" [value]="s.fechaIngresoEcuador"
                      display-timezone="utc" (ionChange)="selectFechaIngresoEcuador($event.target.value, i)"
                      placeholder="Selecciona la fecha"></ion-datetime>
                  </div>
                </ion-col>
                <ion-col>
                  <ion-label>Lugar de Ingreso:</ion-label>
                  <ng-autocomplete [data]="listaLugarIngreso" [searchKeyword]="keywordLugarIngreso"
                    (selected)='selectLugarIngreso($event, i)' (change)="agregarNuevoLugarIngreso($event,i)"
                    #lugarIngreso [itemTemplate]="itemTemplate4">
                  </ng-autocomplete>
                  <ng-template #itemTemplate4 let-item>
                    <a [innerHTML]="item.nombre"></a>
                  </ng-template>
                </ion-col>
              </ion-row>
              <ion-label>Situación Migratoria:</ion-label>
              <ng-autocomplete [data]="listaSituacionMigratoria" [searchKeyword]="keywordSituacionMigratoria"
                (selected)='selectSituacionMigratoria($event,i)' #situacionMigratoria [itemTemplate]="itemTemplate5">
              </ng-autocomplete>
              <ng-template #itemTemplate5 let-item>
                <a [innerHTML]="item.tipo"></a>
              </ng-template>
              <ion-label>Observaciones de Ingreso:</ion-label>
              <ion-textarea rows="6" [(ngModel)]="s.observacionIngreso" name="observacionIngreso" id="clave"
                placeholder="Agregar observaciones de ingreso" type="text">
              </ion-textarea>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </form>
      <ion-card class="formularioRegistro">
        <ion-card-content>
          <h1><b><u>Salud</u></b></h1>
          <div id="salud" class="form-group" *ngFor="let cd of s.salud;let in=index;">
            <div class="form-group">
              <ion-row>
                <ion-col>
                  <ion-label><b>Condición Médica Nro.{{in+1}}:</b></ion-label>
                  <ng-autocomplete [data]="listaCondicionMedica" [searchKeyword]="keywordCondicionMedica"
                    (selected)='selectCondicionMedica($event,i,in)' #condicionMedica [itemTemplate]="itemTemplate6">
                  </ng-autocomplete>
                  <ng-template #itemTemplate6 let-item>
                    <a [innerHTML]="item.condicion"></a>
                  </ng-template>
                </ion-col>
                <ion-col>
                  <ion-label>Estado de Discapacidad:</ion-label>
                  <ion-item>
                    <ion-label>Selecciona un estado:</ion-label>
                    <ion-select [(ngModel)]="cd.estadoDiscapacidad" name="estadoDiscapacidad">
                      <ion-select-option [value]="e.id" *ngFor="let e of estadoDiscapacidad">{{ e.estado }}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>
            </div>
            <div class="form-group">
              <ion-label>Certificado Médico:</ion-label>
              <ion-row>
                <img src="{{cd.foto}}" id="profilePic" />
                <ion-input target="_blank" id="clave" [(ngModel)]="cd.foto" id="clave" name="foto" accept="image/*"
                  (change)="previsualizarCertificado($event,i,in)" type="file" required>
                </ion-input>
              </ion-row>
            </div>
            <ion-button color="danger" (click)="removerCondicionMedica(cd,i,in)">
              Remover Condición Médica<ion-icon id="icons" name="trash"></ion-icon>
            </ion-button>
          </div>
          <ion-button class="btn btn-primary" color="light" (click)="agregarCondicionMedica(s,i)">
            +Agregar Condición Médica<ion-icon id="icons" name="medkit" color="danger"></ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>
    <ion-button style="width: 60%;" class="btn btn-primary" color="secondary" (click)="agregarFamiliar()">
      +Agregar Familiar<ion-icon id="icons" name="people" color="dark"></ion-icon>
    </ion-button>
    <ion-button [hidden]="!removerF" style="width: 39%;" class="btn btn-primary" color="danger"
      (click)="removerFamiliar()">
      -Remover Familiar<ion-icon id="icons" name="trash" color="light"></ion-icon>
    </ion-button>
    <ion-button [disabled]="existeActivo || existePasivo" [hidden]="editando" style="width: 100%;" color="primary"
      (click)="registrarUsuario()">
      <ion-spinner *ngIf="cargando" name="dots"></ion-spinner>
      <div *ngIf="!cargando">Registrar Ingreso
        <ion-icon id="icons" name="checkmark-circle" color="dark"></ion-icon>
      </div>
    </ion-button>
    <ion-button [hidden]="!editando" style="width: 100%;" color="success" (click)="editarUsuario()">
      <ion-spinner *ngIf="cargando" name="dots"></ion-spinner>
      <div *ngIf="!cargando"> Guardar Datos
        <ion-icon id="icons" name="cloud-upload" color="dark"></ion-icon>
      </div>
    </ion-button>
  </div>
</ion-content>