.formularioRegistro {
    background-color: rgb(200, 227, 250);
}
#clave {
    background-color: aliceblue;
}
#profilePic {
    height: 160px;
}
#salud {
    border-style: inset;
    border-color: limegreen;
    border-width: thin;
}
.toolbar-background {
    background-color: lightblue;
}
#icons {
    font-size: 15px;
}
.btn {
    .btn-danger{
        color: red;
    }
}