<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="11">
        <h2 mat-dialog-title style="text-align: center;">¿Subir informe para {{data.nombres}} {{data.apellidos}}?</h2>
      </ion-col>
      <ion-col size="1">
        <ion-button style="float: right;" (click)="close()" fill="clear" color="dark">
          <ion-icon name="close" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<div mat-dialog-content style="text-align: center;">
  <input type="file" name="upload" accept="application/pdf" (change)="cargarInforme($event)" />
</div>

<ion-grid>
  <ion-row>
    <ion-col size="8">
      <ion-button style="width: 100%;" (click)="subirInforme($event)">Subir Informe</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button (click)="onNoClick()" style="width: 100%;" color="danger">Cancelar</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>